.App {
  text-align: center;
  background-color: #222029;
}

.App-logo {
  width: 35%;
}

.App-header {
  margin: auto;
  background-color: white;
  padding: 10px;
  color: black;
  width: 80%;
  text-align: center;
  
}

.Logo-c {
  text-align: left;
}

.App-title {
  font-size: 1vw;
}

.figure-scan {
  width: 80%;
}
