.App {
  text-align: center;
  background-color: #222029;
  color: white;
  margin:0;
  padding:0;
  display:block;
  width:100%;
  height:100vh;
  float:left;
  overflow:hidden;
}

.App-logo {
  width: 40%;
}

.App-header {
  margin: auto;
  background-color: white;
  padding: 10px;
  color: black;
  width: 100%;
  text-align: center;
  
}

.Logo-c {
  text-align: left;
}

.App-title {
  font-size: 5vw;
}

.App-result {
  font-size: 5vw;
}

.figure-scan {
  width: 77%;
}

.mensaje-c {
  text-align: center;
  padding: 5vw;
}
