.App {
  text-align: center;
  background-color: #222029;
  color: white;
}

.App-logo {
  width: 40%;
}

.App-header {
  margin: auto;
  background-color: white;
  padding: 10px;
  color: black;
  width: 85%;
  text-align: center;
  
}

.Logo-c {
  text-align: left;
}

.App-title {
  font-size: 4vw;
}

.figure-scan {
  width: 85%;
}
